
a {
    text-decoration: none;
}

 .base {
    text-align: center;
    background-color: #c5c1c1;
    color: #fff;
}

button {
    color: rgb(250, 249, 252);
    background-color: aliceblue;
    border-radius: 5px;
    font-size: 15px;
    
}

section div img {
    border-radius: 25px;
}

header {
    background-color: rgb(218, 135, 135);
    border-radius: 55px;
   
}

header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 15px;
     margin:0;
    padding: 25px;

}

header ul li a {
    color: #fff;
}

header div img {
    border-radius: 50px;
}

section div{
    text-align: center;
}

div h2 {
    text-align: left;

}
section div h1 {
    font-size: 60px;
    color: red;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin:77px ;
}

.grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    margin: 50px;  
}

.gridtfoot {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(12, 12, 12);
    text-align: center;
    color: white;
}

.rotation {
  width: 300px;
  transition: transform 0.5s ease;
}

.rotation:hover{
   transform: scale(1.1);
}


div h1 {
    color: red;
}

div h3 {
    color: rgb(250, 248, 248);
    border: 1px;
    background-color: #493d3d;
    margin: 10px;
    border-radius: 15px;
}


div h5 {
    color: rgb(9, 9, 10);
}
div b h2 {
    text-align: center;
}

.cadre {
    border: 2px solid #000;
    border-radius: 60px;
    padding: 16px;
    width: 200px;
    text-align: center;


}

.cadre img {
    width: 100%;
    border-radius: 27px;
}

.annonce {
    text-align: center;
}

.police {
    font-style: italic;
    font-family: style decoratif system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

.style {
    font-style: oblique;
    font-size: 22px;
}

div button {
    margin: 20px;
    width: 150px;
    height: 50px;
    background-color: rgb(197, 124, 133);
}

@media (max-width: 480px) {
    body  {
        grid-template-columns: 1fr;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .grid1 {
        grid-template-columns: 1fr;
    }

    .gridtfoot {
        grid-template-columns: 1fr;
    }

    .gridtfoot1 {
        grid-template-columns: 1fr;
    }

    .prim {
        width: 100%;
        height: 180px;
    }
}